@model BookManagementSystem.Models.AuthorCreateViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Author.Id" />
            <div class="form-group">
                <label asp-for="Author.Name" class="control-label"></label>
                <input asp-for="Author.Name" class="form-control" />
                <span asp-validation-for="Author.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Country" class="control-label"></label>
                <input asp-for="Author.Country" class="form-control" />
                <span asp-validation-for="Author.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Description" class="control-label"></label>
                <textarea asp-for="Author.Description" class="form-control" style="min-height:100px" ></textarea>
                <span asp-validation-for="Author.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryIdList" class="control-label"></label>
                @Html.ListBoxFor(model => model.CategoryIdList, new SelectList(Model.Categories, "Id", "Name"),
                         htmlAttributes: new { @class = "form-select chosen-select" ,@value=Model.CategoryIdList})
                <span asp-validation-for="CategoryIdList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(".chosen-select").chosen();
</script>